#profilePhoto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
}

.companyHeaderGrid.ui-panelgrid>*>tr,
.companyHeaderGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}